
@font-face {
    font-family: assistant-light;
    src: url(../../fonts/Assistant/Assistant-Light.ttf);
}

@font-face {
    font-family: assistant-reg;
    src: url(../../fonts/Assistant/Assistant-Regular.ttf);
}
