.order-sum {
    background-image: url('../../img/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    min-height: 100vh;

    .cart-products {
        font-size: rem(14px);
        width: 60vw;
        height: 80vh;
        background-color: #fdfdfd6b;
        padding: 10px;
        direction: rtl;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @include for-mobile-layout {
            width: 100%
        }

        
        .cart-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(73, 73, 73, 0.649);

            @include for-mobile-layout {}

            .cart-item {
                display: flex;
                border-radius: 5px;
                padding: 10px;
                // background-color: white;
                justify-content: space-between;
                gap: 15px;
                position: relative;
                // align-items: center;
                min-height: 100px;
                max-height: 100px;

                .remove-prod-btn {
                    position: absolute;
                    top: 50px;
                    right: 20px;
                    background-color: transparent;
                }

                .cart-prod-quantity {
                    color: rgba(73, 73, 73, 0.649);
                }

                .img-info-container {

                    display: flex;
                    gap: 15px;
                    // align-items: center;

                    .cart-prod-img {
                        min-width: 100px;
                        max-width: 100px;
                        max-height: 100px;
                        min-height: 100px;
                        border-radius: 6px;

                        img {
                            border: .1px solid rgba(73, 73, 73, 0.4);
                            border-radius: 6px;
                            width: 100%;
                        }
                    }

                    .cart-prod-info {
                        text-align: right;

                        h2 {
                            font-size: rem(16px);
                        }
                    }
                }

                .cart-total-price {
                    /* Your styles */
                }
            }
        }
    }

    .summery {
        // background-color: rgb(41, 40, 40);
        // color: whitesmoke;
        // background-color: rgba(245, 245, 245, 0.673);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 5px;

        .shipping-options {
            display: flex;
            flex-direction: column;
        }
    }

}