.product-index {
<<<<<<< HEAD
    background-image: url('../../img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    min-height: 100vh;
=======
    background-image: url('../../img/store-bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    // height: 100vh;
>>>>>>> 77aaa366d4ce08215273186d154411b409b97fe1
}