.product-details {
    background-image: url('../../img/store-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 100px;

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img {
            max-height: 400px;
        }

        .a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        .content {
            display: flex;
            direction: rtl;
            align-items: center;
        }

        .cta-btns {
            width: 40vw;
            
            .add-to-bag-btn {
                width: 100%;
                background-color: black;
                color: white;
                
                &:hover {
                    background-color: rgba(0, 0, 0, 0.596);
                }
            }
        }

        .links {
            display: flex;
            justify-content: space-between;
        }

        .in-stock {
            background-color: rgb(142, 195, 142);
            text-align: center;
        }

        .out-stock {
            background-color: rgb(206, 73, 73);
            text-align: center;
        }

    }
}