.product-index {
    background-color: #f2eee66b;
    padding-top: 100px;


    .search-bar {

        width: 180px;
        height: 30px;
        display: flex;
        margin: 0 auto;

        input {

            background-color: white
            ;
        }
    }
}