.product-index {
    background-color: #f2eee66b;
    padding-top: 100px;


    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        direction: rtl;
        margin: 0 auto;
        
        input {
            width: 350px;
            height: 20px;
            border-radius: 8px;
            background-color: rgb(255, 255, 255);
            border-bottom: .1px solid rgba(0, 0, 0, 0.26);
        }
    }
}