.toy-details {
    display: flex;
    gap: 50px;
    margin: 80px;
    word-spacing: 2px;
}

.toy-details .a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toy-details .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toy-details .links {
    display: flex;
    justify-content: space-between;
}

.toy-details .in-stock {
    background-color: rgb(142, 195, 142);
    text-align: center;
}

.toy-details .out-stock {
    background-color: rgb(206, 73, 73);
    text-align: center;
}
