.product-edit {
        background-image: url('../../img/store-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        padding-top: 100px;
    

        form {
            display: flex;
            flex-direction: column;
            direction: rtl;
        }

        .actions {

            display: flex;
            justify-content: space-between;
        }
    }
