.treatments-about {
    background-image: url('../../img/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;


    @include for-mobile-layout {
        padding: 100px 20px;
        // height: 100vh;
      }

    .treatments-container {

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        gap: 20px;
        background-color: #fdfdfd6b;

        @include for-mobile-layout {
          max-width: 100vw;
        }


        .treatment {
            display: flex;
            gap: 20px;
            max-height: 400px;
            padding-bottom: 20px;

            @include for-mobile-layout {
                max-height: 200px;
            }


            img {
                height: 400px;
                width: 400px;
                border-radius: 3px;

                @include for-mobile-layout {
                    height: 200px;
                    width: 150px;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                direction: rtl;
                padding: 20px;
                overflow-y: scroll;
                color: rgb(49, 49, 49);
            }

             

        }
    }
}