
.app-footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(25, 24, 24);
    color: white;
    width: 100vw;
    height: 200px;
    direction: rtl;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    clear: both;


    @include for-mobile-layout {
       flex-direction: column;
       height: 400px;
       bottom: auto;
       gap: 30px;
    }

    

    .opening-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 300px;
        gap: 20px;

        .opening-hours {
            
            .day-row {
                display: flex;
                justify-content: space-between;
                direction:ltr;
            }
        }
        
    }


    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;


        @include for-mobile-layout {
           align-items: center;
        }
    }

    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;


        @include for-mobile-layout {
           flex-direction: row;
           gap: 10px;
        }

        .icon {
            font-size: 36px;
            color: white;
            transition: .4s;

            &:hover {
                color: #fce494;
            }

        }
    }
}