.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    padding: 0px 30px;
    position: absolute;
    right: 0;
    // direction: ltr;
    z-index: 999;
    font-family: 'assistant-light';
    font-size: 1.1rem;
    margin-top: 15px;


    @include for-mobile-layout {
        right: auto;
        // padding: 0;
    }

    .menu-icon {
        display: none;
    }

    .menu {

        nav {

            a {
                margin: 0px 20px 0px 20px;

                &.active {
                    color: #fdf4e6;
                    text-shadow: 1px 0px 1px rgba(136, 115, 94, 0.85);
                }
            }

        }
    }


    @media (max-width: 560px) {

        .menu-icon {
            display: block;
            position: relative;
        }

        .menu {
            font-size: 24px;

            nav {
                display: none;
            }

            &.open {

                nav {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 20px;
                    top: 25px;
                    direction: rtl;
                    background-color: #00000080;
                    color: whitesmoke;
                    width: 100vw;
                    gap: 20px;
                    padding: 15px 0px;

                    a {
                        border-bottom: .2px solid rgba(245, 245, 245, 0.549);
                    }

                }

            }

        }


    }


    .logout-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $clr3;
        cursor: pointer;
        border-bottom: .1px solid rgb(46, 46, 46);
    }

    .my-cart {
        cursor: pointer;
        position: relative;
        font-size: 24px;

        .prod-in-cart {
            border-radius: 50%;
            background-color: red;
            position: absolute;
            font-size: 15px;
            padding: 3px 10px;
            top: -10px;
            left: 18px;

            &.false {
                display: none;
            }
        }
    }
}


.app-header .logo {
    width: 130px;
}