.product-list {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    margin: 0 auto;


    
 
}

.product-list .product {
    position: relative;
    width: 230px;
    // max-height: 300px;
    padding: 10px;
    break-inside: avoid;
    margin-bottom: 10px;
    transition: .4s;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 0.1px solid #c5c2c2b3;
    border-right: 0.1px solid #c5c2c2b3;
    background-color: #fdfdfd6b;


    .price {
        direction: rtl;
    }

    .img-container {
        display: flex;
        justify-content: center;

        img {
            width: 200px;
            height: 200px;
        }
    }
}

.product-list .product:hover .btn {
    opacity: 1;
}

.product-btns .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    opacity: 0;
}