.shopping-cart {
    width: 30vw;
    min-height: 95vh;
    background-color: #000000d5;
    color: whitesmoke;
    position: relative;
    border-radius: 3px;
    padding: 15px 30px 30px 30px;
    border: .3px solid #6058513b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    


    @include for-mobile-layout {
        position: absolute;
        width: 70vw;
        min-height: 80vh;
        top: 50px;
        // left: 5px;

    }

    .close {
        position: absolute;
        top: 5px;
        right: 5px;
        background: transparent;
        color: whitesmoke;
        font-size: 12px;
    }

    .cart-empty {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 70px;
        font-size: 1.5rem;
    }

    .cart-title {
        direction: rtl;
        font-size: 1.2rem;
        margin: 15px 0 ;
    }

    .cart-products {
        max-height: 60vh;
        overflow-y: scroll;
        font-size: 0.8rem;



        ul {
            list-style: none;
            line-height: 25px;
            margin: 0;
            padding: 0;
            gap: 20px;

            li {
                height: 100px;
                display: flex;
                justify-content: end;
                gap: 20px;
                position: relative;
                margin: 10px 0px;
                border-bottom: .3px solid rgb(96, 88, 81);

                @include for-mobile-layout {
                    font-size: rem(11px);
                }


                .remove-prod-btn {
                    position: absolute;
                    left: 20px;
                    top: 40px;
                    background-color: transparent;
                    color: whitesmoke;
                }

                .cart-prod-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;



                }

                .cart-prod-img {
                    max-width: 70px;
                    min-width: 70px;

                    @include for-mobile-layout {
                        max-width: 50px;
                        min-width: 50px;
                        height: 100px;
                    }

                    img {
                        width: 100%;
                    }
                }

                .cart-prod-quantity {
                    position: absolute;
                    top: 40px;
                    left: 45px;
                }

                .cart-prod-price {
                    font-size: 20px;
                }
            }
        }

    }

    .chackout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
            width: 100%;
            padding: 20px 0;
            border-radius: 6px;


        }

        .show-cart-btn {

            &:hover {
                background-color: rgba(237, 234, 231, 0.615);
            }
        }

        .checkout-btn {
            background-color: black;
            color: white;

            &:hover {
                background-color: rgba(0, 0, 0, 0.209);
            }
        }
    }
}

.black-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: -165px;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    margin-top: -15px;
    transform: translateX(-100%);
    transition: .4s;
    
    
    @include for-mobile-layout {
        // width: 100vw;
        min-height: 80vh;
        left: -20px;
        
    }
    
    &.open {
        // display: block;
        transform: translateX(0);
    }
}