.main-layout {
  display: grid;
  grid-template-columns: 8rem 1fr 8rem;
  margin-top: 15px;
}

.main-layout>* {
  grid-column: 2;
}

.main-layout .full {
  grid-column: 1/-1;
}

.container {
  max-width: 1000px;
  padding: 1em;
  margin: auto;
}

footer {
  background-color: var(--gray3);
  color: var(--clr1bg);
  padding: 1em;
  text-align: center;
}


